h1, .d_btn {
    text-align: center;
}

.bold, li {
    font-weight:600;
}

.box {
    border: 2px solid #F0F0F0;
    margin: 20px 80px;
}

.box_in {
    padding: 15px 15px 36px 15px;
}

.form_group {
    width: 29%;
}

.title4 {
    background-color: #F0F0F0;
    padding: 15px;
    font-size: 18px;
    margin-top: 0;
}

.content {
    line-height: 30px;
    padding: 10px 0;
}

.input_con {
    padding-left:20px;
}

.left, .form_group {
    float: left;
}

textarea {
    resize: vertical;
    margin: 0 18px;
    width: 96%;
}

.height50 {
    height: 50px;
}

.btn {
    background-color: #337ab7;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
}